{% extends 'base.html' %}
{% load static %}
{% block scripts %}
    <script src="{% static 'quizes/quiz.js'%}" defer></script>
{% endblock scripts %}

{% block title %}
{{obj.name}}
{% endblock title %}

{% block content %}

<div class="row">
    <div class="col">
        {{obj.name}}
    </div>
    <div class="col text-right" id="timer-box"></div>
</div>

<a class="btn btn-danger" href="{% url 'quizes:main-view' %}">Go back</a>
{% comment %} Here needs to get an alert related to "Go back" as person will be redirected to home page 
and also it needs to add a user login functionality   {% endcomment %}

<form id="quiz-form" class="mt-3 mb-3">
    {% csrf_token %}
    <div id="quiz-box"></div>
    <button type="submit" class="btn btn-primary mt-3">Save</button>
</form>
<div id="score-box"></div>
<div id="result-box"></div>
{% endblock content %}
